body{
	padding: 20px 10%;
}
.form-group{
	margin-bottom: 20px;
}
.form-group label{
	color: #000;
	font-size: 18px;
	margin-bottom: 10px;
}
.description{
	background: #eee;
	border-radius: 5px;
	color: #333;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}